<%- include('header'); %>

<h1>Profile</h1>

<div>
    <p><%= use.name %></p>
    <p><%= use.username %></p>
    <p><%= use.phone %></p>
    <p><%= use.email %></p>
    <p><%= use.address %></p>
</div>

<br><a href="/">Back to Account Summary</a>

<%- include('footer'); %>